<div class="main-container">

  <div class="buttons">
    <a routerLink="/collection">
      <app-button (onClick)="functioncall($event)" [label]="label1"></app-button>
    </a>
  </div>
  
  <!-- TODO: Have options to sort showcased collections by date/popularity -->  
  <!-- TODO: Showcase a list of recent/popular collections that users can directly go to -->
  <!-- Currently it displays a bunch of test collections that we were using during development -->
  
  <div *ngIf="collectionGallery" id="showcase">
    <div *ngFor="let item of collectionGallery" class="showcard">
      <app-collection-show-card
        [item]="item"
        (onPressed)="goToQuiz($event)"
      ></app-collection-show-card>
    </div>
  </div>
  

</div>
